body {
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
}

.outer-container {
  background-color: rgb(189 189 189);
  width: 600px;
  display: flex;
}

/* ------- Pad Container --------- */
.pad-container {
  width: 300px;
  padding: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(151, 151, 151);
  width: 80px;
  height: 80px;
  box-shadow: 4px 6px 0px 2px rgb(73 73 73);
  border-radius: 5px;
}

.drum-pad:hover {
  cursor: pointer;
}

.drum-pad:active {
  background-color: aquamarine;
  top: 10px;
  box-shadow: 3px 3px rgb(73, 73, 73);
}

.drum-pad-active {
  background-color: aquamarine;
  top: 10px;
  box-shadow: 3px 3px rgb(73, 73, 73);
}

/* ------- Controls Container --------- */
.controls-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.display-container {
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid;
}
